<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetMealDishMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into setmeal (category_id,name,price,image,description,create_time,update_time,create_user,update_user,status)
            values
        (#{categoryId},#{name},#{price},#{image},#{description},#{createTime},#{updateTime},#{createUser},#{updateUser},#{status})
    </insert>
    <insert id="insertBatch">
        insert into setmeal_dish (setmeal_id,dish_id,name,price,copies)
            values
        <foreach collection="setmealDishes" item="setmealDish" separator=",">
            (#{setmealDish.setmealId},#{setmealDish.dishId},#{setmealDish.name},#{setmealDish.price},#{setmealDish.copies})
        </foreach>
    </insert>
    <update id="update">
        update setmeal
        <set>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="price != null">price = #{price},</if>
            <if test="image != null">image = #{image},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        where id = #{id}
    </update>
    <update id="startOrStop">
        update setmeal set status = #{status} where id = #{id}
    </update>
    <delete id="deleteById">
        delete from setmeal where id in
               <foreach collection="setmealIds" open = "(" close=")" separator="," item="setmealId">
                   #{setmealId}
               </foreach>
    </delete>

    <delete id="deleteBatch">
        delete from setmeal_dish where setmeal_id in
               <foreach collection="setmealIds" open = "(" close=")" separator="," item="setmealDishId">
                   #{setmealDishId}
               </foreach>
    </delete>


    <select id="getSetmealIdByDishId" resultType="java.lang.Long">
        select setmeal_id from setmeal_dish where dish_id in
            <foreach collection="dishId" separator="," open="(" close=")">
                #{dishId}
            </foreach>
    </select>
    <select id="pageQuery" resultType="com.sky.vo.SetmealVO">
        select s.*, c.name as categoryName
        from setmeal s left outer join category c on s.category_id = c.id
        <where>
            <if test="name != null">and s.name like concat('%',#{name},'%')</if>
            <if test="categoryId != null">and s.category_id like concat('%',#{categoryId},'%')</if>
            <if test="status != null">and s.status like concat('%',#{status},'%')</if>
        </where>
        order by s.create_time desc
    </select>

</mapper>